<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eat-Da-Burger!</title>
  <link rel="stylesheet" href="/assets/css/burger_style.css">
</head>

<body>
  {{!-- header & burger image --}}
  <h1>Eat-da-Burger!</h1>
  <img src="/assets/img/burger.png" alt="burger pic">

  {{!-- list of burgers, ready to eat and devoured --}}
  {{{body}}}

  {{!-- field to enter new burgers --}}
  <p>
    Enter a burger you would like to devour:
    <input>
    <button>Submit</button>
  </p>
</body>

</html>