<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eat-Da-Burger!</title>
  <link rel="stylesheet" href="/assets/css/burger_style.css">
</head>

<body>
  <h1>Eat-da-Burger!</h1>
  <img src="/assets/img/burger.png" alt="burger pic">
  {{{body}}}
</body>

</html>