<h2>Burgers ready to be devoured!</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{burger_name}}
        <button>Devour it!</button>
      </li>
    {{/unless}}
  {{/each}}
</ul>
<p>
  Enter a burger you would like to devour:
  <input>
  <button>Submit</button>
</p>